.transition-color-secondary-5s {
    /* For Safari 3.0 to 6.0 */
    -webkit-transition: color .5s;

    /* For modern browser */
    transition: color .5s;
}

.transition-color-secondary-5s:hover {
    color: var(--secondary-color);
}