/* MARGIN */
.margin-20p {
    margin: 20px;
}

.margin-x-10p {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-x-20p {
    margin-left: 20px;
    margin-right: 20px;
}

/* PADDING */
.padding-x-10p {
    padding-left: 10px;
    padding-right: 10px;
}

.align-items-center {
    align-items: center;
}

/* FLEXBOX */

.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.gap-50p {
    gap: 50px;
}