/* POSITIONING */
.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* MARGIN */
.margin-20p {
    margin: 20px;
}

.margin-x-8p {
    margin-left: 8px;
    margin-right: 8px;
}

.margin-x-10p {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-x-20p {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-top-10p {
    margin-top: 10px;
}

.margin-top-20p {
    margin-top: 20px;
}

/* PADDING */
.padding-x-10p {
    padding-left: 10px;
    padding-right: 10px;
}


/* FLEXBOX */
.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.gap-50p {
    gap: 50px;
}

.fd-row {
    flex-direction: row;
}